@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
    --red: 229, 57, 53;
    --orange: 251, 140, 0;
    --yellow: 253, 216, 53;
    --green: 67, 160, 71;
    --blue: 30, 136, 229;
    --purple: 167, 107, 255;

    --theme-color: var(--purple);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

br {
    visibility: hidden;
}

a {
    text-decoration: none;
    color: rgb(var(--theme-color));
    transition: 0.3s;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: opacity 1.5s, filter 1.5s, transform 1.5s, height 0.75s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.staff.hidden.delay-200 {
    transition: opacity 2s, filter 2s, transform 2s, height 0.75s;
}

.staff.hidden.delay-400 {
    transition: opacity 2.5s, filter 2.5s, transform 2.5s, height 0.75s;
}

.staff.hidden.delay-600 {
    transition: opacity 3s, filter 3s, transform 3s, height 0.75s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }

    html {
        scroll-behavior: unset;
    }
}

.feature {
    background-color: #242429;
    padding: 12px;
    width: 50%;
    height: 75px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.feature img {
    height: auto;
    max-width: 64px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.5s;
}

.feature h3 {
    color: rgb(var(--theme-color));
}

div.hide {
    opacity: 0;
    transition: 0.5s;
}

.feature:hover div.hide {
    opacity: 1;
}

.feature:hover {
    height: 250px;
}

.feature:hover img {
    max-width: 84px;
}


.staffs {
    display: flex;
}

.staff {
    background-color: #242429;
    padding: 12px;
    width: 15%;
    height: 75px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: opacity 1.5s, filter 1.5s, transform 1.5s, height 0.75s;
}

.staff img {
    height: auto;
    max-width: 64px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.5s;
}

.staff h3 {
    color: rgb(var(--theme-color));
}

div.hide {
    opacity: 0;
    transition: opacity 0.5s;
}

.staff:hover div.hide {
    opacity: 1;
}

.staff:hover {
    height: 235px;
}

.staff:hover img {
    max-width: 84px;
}

.button-primary {
    background-color: rgb(var(--theme-color));
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.button {
    background-color: #6c757d;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.main-buttons {
    display: flex;
}

@media screen and (max-width: 800px) {
    .staffs {
        display: block;
    }

    .staff {
        width: 50%;
    }
}

@media screen and (max-width: 615px) {
    .feature:hover {
        height: 330px;
    }
}

.theme-picker {
    background-color: rgba(50, 50, 50, 0.2);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    padding: 1rem;
    height: 35px;
    width: 150px;
}

.theme-picker.vertical {
    flex-direction: column;
    height: max-content;
}

input,
label {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 1em;
}

#theme-picker-section {
    justify-content: space-between;
}

#theme-picker-section>input {
    height: 0.75rem;
    width: 0.75rem;
    margin: 0px;
    outline: none;
    position: relative;
    cursor: pointer;
}

#theme-picker-section>input:before,
#theme-picker-section>input:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 2;
}

#theme-picker-section>input:after {
    height: 2vh;
    width: 2vh;
}

#theme-picker-section>input:before {
    display: none;
    height: 2.2vh;
    width: 2.2vh;
    border: 0.125rem solid white;
}

#theme-picker-section>input:not(:checked):hover:before,
#theme-picker-section>input:not(:checked):active:before {
    display: block;
    border-color: rgba(255, 255, 255, 0.5);
}

#theme-picker-section>input:checked:before {
    display: block;
}

#theme-picker-section>input[value="purple"]:after {
    background-color: rgb(var(--purple));
}

#theme-picker-section>input[value="red"]:after {
    background-color: rgb(var(--red));
}

#theme-picker-section>input[value="orange"]:after {
    background-color: rgb(var(--orange));
}

#theme-picker-section>input[value="yellow"]:after {
    background-color: rgb(var(--yellow));
}

#theme-picker-section>input[value="green"]:after {
    background-color: rgb(var(--green));
}

#theme-picker-section>input[value="blue"]:after {
    background-color: rgb(var(--blue));
}

.counter:after {
    content: "+";
}

.stats h2 {
    color: rgb(var(--theme-color));
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(var(--theme-color));
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: rgb(var(--theme-color));
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

div.openbtn {
    font-size: 45px;
    cursor: pointer;
    position: fixed;
    color: rgb(var(--theme-color));
    padding: 10px;
    transition: 0.3s;
}

div.openbtn:hover {
    color: #f1f1f1;
}

a:hover {
    color: #f1f1f1;
}

.stat {
    background-color: #242429;
    padding: 12px;
    width: 20%;
    height: 150px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: opacity 1.5s, filter 1.5s, transform 1.5s, height 0.75s;
}

.stat.delay-200 {
    transition: opacity 2s, filter 2s, transform 2s, height 0.75s;
}

.stat.delay-400 {
    transition: opacity 2.5s, filter 2.5s, transform 2.5s, height 0.75s;
}